.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}

h1{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 36px;
  background: linear-gradient(to right, #663399, #9370DB);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration-color: #9370DB;
}